* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

.contenedor {
    padding: 0px;
    margin: auto;
    width: 400px;
    height: 400px;
    background-color:rgb(69, 69, 78);

    border: 8px outset rgb(0, 0, 0);
}



#player {
	background-color: #900;
	border: 4px dashed #b22;
	width: 50px;
	height: 50px;
	border-radius: 29px;
	position: absolute;
	transition: all 0.3s
}
.pointer {
	background-color: rgb(112, 112, 112);
	height: 50px;
	margin-top: 30px;
	border-bottom: 0px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding: 10px 0px;
	
}