
body {
    background-color: black; flex-wrap: wrap;
}
section {
    color: white;  flex-wrap: wrap;
}
header {
    background-color: brown; font-size: 50px;
}
footer {
    font-size: 20px; background-color: brown;
}

p {
    color: white
}


.imagen1 {
    width: 250px; height: 250px;
}
.quiz {
    background-color: white; color: black; border:20px; border-style: double;
}
.RESULTADOMAL {
    font-size: 40px; background-color: black; color: RED;
}
.RESULTADOBIEN {
    font-size: 40px; background-color: black; color: green;
}
.hp {
    background-colo
}
