@font-face {
    font-family: Aboreto;
    src: url(../fonts/Aboreto-Regular.ttf);
}
@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-VariableFont_wght.ttf)
}
@font-face {
    font-family: pressstart;
    src: url(../fonts/PressStart2P.ttf);
}